.input-container{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.input{
    background-color: white;
    border-radius: 4px;
    color: rgb(20, 20, 20);
    height: 30px;
    padding: 0px 10px;
    width: calc(100%-20px);
    border: 1px solid rgb(20, 20, 20);
    outline: none;
}

.input-label{
    color: rgb(82, 41, 3);
    font-size: 12px;
}

.button{
    width: 5%;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(199, 133, 10);
    border:none;
    cursor: pointer;
    gap: 10px;
}